/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Anmation Duration  */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
}

/* a {
  text-decoration: none;
  color: var(--color-white);
} */

ul {
  list-style: none;
  padding-left: 0;
}

i {
  padding: 2px;
}

button {
  cursor: pointer;
  border: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--color-dark-pink);
  padding: 16px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu__item {
  padding: 8px 25px;
  margin: 10px;
  font-size: var(--font-medium);
  cursor: pointer;
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-pink);
}

.navbar__toggle-btn {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  font-size: var(--font-large);
  position: absolute;
  top: 40px;
  right: 10px;
  display: none;
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Home */
#home {
  background-color: var(--color-light-grey);
  text-align: center;
  padding: 16px;
  height: 100vh;
}

.home__title {
  margin: 0;
  padding: 20px;
  text-align: start;
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  color: var(--color-white);
}

.home__avater {
  width: 430px;
  height: 385px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}

.home__subtitle {
  color: var(--color-white);
  padding: 16px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

.home__description {
  color: var(--color-white);
  padding: 8px;
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
  margin-bottom: 30px;
  font-size: 40px;
  color: var(--color-pink);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.2);
}

.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding-bottom: 8px;
}

.major__description {
  color: var(--color-grey);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  line-height: 60px;
}

.job__description {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.job__name {
  font-size: var(--font-regular);
}

.job__period {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

/* Skills */

#skills {
  background-color: var(--color-pink);
}

.skillset {
  display: flex;
  margin-top: 40px;
  color: var(--color-white);
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 30px;
}

.skill {
  margin-bottom: 5px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-light-grey);
}

.skill__value {
  width: 50%;
  height: 4px;
  background-color: var(--color-yellow);
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
}

.tools {
  background-color: var(--color-light-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 30px;
}

.category__btn {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 5px 20px;
  margin: 0 10px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-yellow);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: var(--font-micro);
  position: relative;
  top: -20px;
  left: 5px;
  transition: all var(--animation-duration) ease;
  opacity: 0;
}

.work__projects {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
  margin: 10px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  color: var(--color-white);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-light-white);
}

.project__description h3:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-dark-white);
}

.testimonials {
  margin-top: 40px;
}

.testimonial {
  display: flex;
  margin: 20px;
}

.testimonial__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 20px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 20px;
}

.testimonials__speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--color-yellow);
  border-radius: var(--size-border-radius);
}

.testimonials__speech-bubble a {
  color: var(--color-dark-pink);
}

/* Contact */
#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__links {
  margin: 20px;
}

.contact__links i {
  font-size: var(--font-large);
  color: var(--color-dark-pink);
  padding: 10px;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-dark-grey);
}

.contact__rights {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
  }

  .navbar__menu {
    flex-direction: column;
    padding-top: 100px;
  }
}
